extends ../layouts/default

mixin post(post)
	.ui.vertical.segments(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		.ui.secondary.segment: h2.ui.header
			a(href='/blog/post/' + post.slug)= post.title
			.sub.header.postDate
				| Posted 
				if post.publishedDate
					| on #{post._.publishedDate.format('MMMM Do, YYYY')} 
				if post.author
					| by #{post.author.name.first}
		if post.image.exists
			img(src=post._.image.fit(160,160)).img.pull-right
		//- Custom post brief; suitable for small newsfeed
		- let brief = _.truncate(post.content, {length: 256,separator: /,?\.* +/});
		.ui.segment
			!= brief
			if post.content
				p.read-more: a(href='/blog/post/' + post.slug) Read more...

block intro
	.BlogHeader.ui.center.aligned.segment
		.ui.header: h2!= data.category ? 'Posts tagged "<span>' + data.category.name + '</span>"' : 'All posts'
		.Categories.ui.horizontal.divided.list
			a(href='/blog', class=!data.category ? 'active' : false).item All Categories
			each cat in data.categories
				a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).item= cat.name
	if data.categories.length
	


block content
	.ui.relaxed.stackable.container
		if filters.category && !data.category
			.ui.message: h3 Invalid Category "#{filters.category}".
		else
			if data.posts
				if data.posts.totalPages > 1
					.ui.header Showing 
						strong #{data.posts.first}
						|  to 
						strong #{data.posts.last}
						|  of 
						strong #{data.posts.total}
						|  posts.
				else
					.ui.message: p Showing #{utils.plural(data.posts.results.length, '* post')}.
				.blog
					each post in data.posts.results
						+post(post)
				
				if data.posts.pages.length > 1
					ul.pagination
						if data.posts.previous
							li: a(href='?page=' + data.posts.previous): i.angle.left.icon
						else
							li.disabled: i.angle.left.icon
						each p, i in data.posts.pages
							li(class=data.posts.currentPage == p ? 'active' : null)
								a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
						if data.posts.next
							li: a(href='?page=' + data.posts.next): i.angle.right.icon
						else
							li.disabled: i.angle.right.icon
			else
				if data.catId
					h3.text-muted There are no posts in the '#{data.category.name}' category.
				else
					h3.text-muted There are no posts yet.
	
