extends ../layouts/default

block intro
	.intro: .ui.stackable.centered.grid
		.five.wide.column
			!= dealersInfo.Header
block content
	.MainContent
		.ui.text.padded.container
			br
			!= dealersInfo.Content
