extends ../layouts/default

mixin post(post)
	.ui.vertical.segments(data-ks-editable=editable(user, { list: 'FaqPost', id: faqpost.id }))
		.ui.secondary.segment: h2.ui.header
			a(href='/blog/post/' + faqpost.slug)= faqpost.title
			//- .sub.header.postDate
				| Posted 
				if faqpost.publishedDate
					| on #{faqpost._.publishedDate.format('MMMM Do, YYYY')} 
				if faqpost.author
					| by #{faqpost.author.name.first}
		.ui.segment
			!=faqpost.content

block intro
	.BlogHeader.ui.center.aligned.segment
		//- .ui.header: h2!= faqpost.title ? faqpost.title : 'All FAQs'
		.Categories.ui.horizontal.divided.list
			//- a(href='/faq', class=!faqpost.title ? 'active' : false).item All Categories
			each faq in allFaq
				a(href='/faq/' + faq.slug, class=faq.slug && faq.id == faqpost.id ? 'active' : false).item= faq.title
	


block content
	.ui.relaxed.stackable.container
		//- if !faqpost
			.ui.message: h3 Invalid Category "#{filters.tab}".
		//- else
		if faqpost
			//- if faqpost.totalPages > 1
				h4.text-weight-normal Showing 
					strong #{faqpost.first}
					|  to 
					strong #{faqpost.last}
					|  of 
					strong #{faqpost.total}
					|  posts.
			//- else
				.ui.message: p Showing #{utils.plural(faqpost.results.length, '* post')}.
			.blog
				//- each post in faqpost.results
				+post(post)
			
			//- if faqpost.totalPages > 1
				ul.pagination
					if faqpost.previous
						li: a(href='?page=' + faqpost.previous): span.glyphicon.glyphicon-chevron-left
					else
						li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
					each p, i in faqpost.pages
						li(class=faqpost.currentPage == p ? 'active' : null)
							a(href='?page=' + (p == '...' ? (i ? faqpost.totalPages : 1) : p ))= p
					if faqpost.next
						li: a(href='?page=' + faqpost.next): span.glyphicon.glyphicon-chevron-right
					else
						li.disabled: a(href='?page=' + faqpost.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
		//- else
			if data.category
				h3.text-muted There are no posts in the category #{data.category.name}.
			else
				h3.text-muted There are no posts yet.

