extends ../layouts/default


block intro
	.ui.container
		br
		.ui.centered.header: h2 Gallery
	
block content
	link(href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.css", rel="stylesheet")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.js")
	script.
		console.log(window.innerWidth);
	.ui.container
		if galleries.length
			each gallery in galleries
				.ui.segment
					h2.ui.header #{gallery.name} - #{gallery.description}
					.ui.equal.width.centered.grid
						if gallery.images.length
							each item in gallery.images
								if (item.image.secure_url != null)
									a.five.wide.column(href=item.image.secure_url data-fancybox="gallery" title=item.title data-caption=item.caption data-link=item.linkToPost rel="group")
										img(src=item.thumbnail width="100%")
								else
									a.five.wide.column()
										i.exclamation.triangle.icon
										p #{item.title} 404 File not found
						else
							h3.ui.sub.header Empty gallery
		else
			h3.ui.sub.header There are no image galleries yet.
	script.
		$(document).ready(function() {
			$('[data-fancybox="gallery"]').fancybox({
				// Options will go here
				helpers : {
					title: {
						type: 'outiside',
					}
				},
				keyboard: true,
				arrows: true,
				protect: true,
			});
		});
		//- $('[data-fancybox="gallery"]').fancybox();
