extends ../layouts/default

block intro
	.intro: .ui.fluid.container
		if (announcement)
			.ui.header: h2(style="text-align: center;")!=announcement.content
		hr
		br
		.ui.six.column.stackable.grid.container.intro
			.center.aligned.column
				img(src='images/summervibe.png')
			.center.aligned.column
				h3 SUMMER VIBE
				p Spend the whole weekend in a cool bungalow house, in the coolest water park at the Netherlands!
			.center.aligned.column
				img(src='images/watertime.png')
			.center.aligned.column
				h3 WATER TIME
				p Enjoy the various swimming pools, beautiful locations and many summer attractions, all waiting for you!
			.center.aligned.column
				img(src='images/lotsoffun.png')
			.center.aligned.column
				h3 LOTS OF FUN
				p Take lots of photos, wear your favorite cosplay or just chill around. Lets have fun!

block content
	.MainContent: .ui.centered.stackable.grid
		.five.wide.column
			.NewsFeed.ui.container: .ui.feed
				if newsfeedItems
					each item in newsfeedItems
						//- - console.log(item.categories);
						.event
							.label
								if item.image.secure_url
									a(href='/blog/post/' + item.slug): img(src=item.image.secure_url)
								else
									a(href='/blog/post/' + item.slug): img(src='images/lotsoffun.png')
							.content
								.summary
									a(href='/blog/post/' + item.slug)= item.title
								.date(data-content=item.publishedDate)= item.formatted + ' in '
									each cat in item.categories
										a.postDate(href='/blog/' + cat.key)!='#' + cat.name + ' '
								.extra.text!= item.brief
				else
					.ui.negative.message Broken newsfeed
		if eventslider					
			.five.wide.column.EventSlider
						each doc in eventslider
							img(src=doc.image.secure_url)
		if guestslider
			.five.wide.column.GuestSlider
						each doc in guestslider
							img(src=doc.image.secure_url)
