extends ../layouts/default

block intro
	.intro: .ui.stackable.centered.grid
		.two.wide.right.aligned.column
			img(src='images/summervibe.png')
		.three.wide.column
			h3 LOCATION
			p Don’t know how to arrive or how to park at Viencon? We help you out! Just take a look below on the multiple ways available and start planning your epic journey right away! Don’t get lost!
		
block content
	.map.ui.fluid.container: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1243.2629220622196!2d5.961906183654378!3d51.44850117945347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDI2JzU0LjYiTiA1wrA1Nyc0NS43IkU!5e0!3m2!1sen!2smv!4v1546783251416" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen)
	.MainContent
		.ui.text.container
			h3 Address
			p Limburgse Peel
			p Peelheideweg 25
			p 5966 PJ America
			p 
			p The Netherlands
		.ui.divider
		.ui.text.container
			h3 By Car
			p You come from Eindhoven. Drive via the A67 Eindhoven / Venlo. Take exit 38, and continue on the N277 towards IJsselsteijn / Venray. Approximately 1.5 kilometers after the railway crossing turn right onto the Peelheideweg. Bord Limburgse Peel indicates the direction. After 1 kilometer turn right you will find the entrance of the park.
		.ui.divider
		.ui.text.container
			h3 By public transport
			p At station Venlo (platform 1) take the Intercity to Horst Sevenum (direction Den Haag). From Station Horst-Sevenum you can take a taxi to the park. You can also take the shuttle bus from the station to the park.
			br
			p #[strong Schiphol Airport]
			p From Schiphol Airport there will be direct trains to Horst-Sevenum. These trains depart every 30 minutes and estimated travel time will be 2 hours.
			br
			p #[strong Eindhoven Airport]
			p From Eindhoven airport you can take bus 400 or 401. These busses depart twice every hour. From Eindhoven central station you can take a direct train to Horst-Sevenum. These depart every 30 minutes. Traveling time will be roughly 1 hour.
			br
			p #[strong Maastricht-Aachen Aiport]
			p From Maastricht-Aachen airport you can take bus 30 to Sittard central station. From here you can take the train to Roermond. At Roermond you change trains for the one that is bound for Venlo. At Venlo central station you change train for the one that is bound for Schiphol and you will get off at Horst-Sevenum. Travelling time will be roughly 1 hour and 30 minutes. It’s possible to check detailed information about the dutch public transport on the following websites:
			p: a(href="www.9292.nl") www.9292.nl
			p: a(href="www.ns.nl") www.ns.nl
