extends ../layouts/default

block content
	.Post.ui.main.segment
		//- a.ui.button(href='/blog') &larr; back
		.ui.attached.container: .ui.breadcrumb
			a.section(href='/') Home
			i.divider.right.chevron.icon
			a.section(href='/blog') Blog
			i.divider.right.chevron.icon
			if data.post.categories.length
				if data.post.categories.length > 1
					each cat, cat_i in data.post.categories
						a.section.capitalize(href='/blog/' + cat.name)= cat.name
						if cat_i < data.post.categories.length - 1
							| /
				else
					a.section.capitalize(href='/blog/' + data.post.categories[0].name)= data.post.categories[0].name
		.postContainer.ui.text.container: article
			if !data.post
				h2 Invalid Post.
			else
				.ui.header: h1= data.post.title
					.sub.header.postDate: h5 Posted 
						if data.post.publishedDate
							| on #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
						if data.post.categories && data.post.categories.length
							| in 
							each cat, cat_i in data.post.categories
								a.capitalize(href='/blog/' + cat.key)= cat.name
								if cat_i < data.post.categories.length - 1
									| , 
								else
									|  
						if data.post.author
							| by #{data.post.author.name.first}
					.ui.divider
				.ui.text.container
					if data.post.image.exists
						.image-wrap: img(src=data.post._.image.fit(400,400)).img-responsive
					!= data.post.content
