extends ../layouts/default

block intro
	.intro: .ui.stackable.centered.grid
		.two.wide.right.aligned.column
			img(src='images/tickets.png')
		.two.wide.column
			h3 TICKETS
			p All information regarding tickets are found below. Prices are including service and administration fees.
		
block content
	.MainContent
		br
		.ui.centered.header: h2 Cottage Types
		.ui.stackable.grid.container
			if cottages.length
				each cottage in cottages
					.eight.wide.column: .ui.fluid.card.cottage
							.title.content
								.header: h3= cottage.title
							.ui.image
								img(src=cottage._.image.limit(640, 480))
							.main.content
								.header: h3= cottage.subtitle
								.content
									br
									p= cottage.description
							.content
								if cottage.facilities.length
									.ui.bulleted.list
										each facility in cottage.facilities
											.item= facility
								.ui.two.buttons
									a.ui.basic.teal.button(target="_blank" href='https://www.centerparcs.nl/nl-nl/nederland/fp_LH_vakantiepark-limburgse-peel/cottages?hc=LH702&duree=3&dated=2017-11-03&gotoanchor=item-confort') More Info
									.ui.basic.teal.button Book Now
			//- .eight.wide.column
				.ui.fluid.card
					.content
						.header
							h3 Cottage VIP (4 persons, 65m²)
					.ui.image
						img(src='images/vip.jpg')
					.content
						.header: h3 FROM €169,- P.P.* WHOLE WEEKEND
						.content
							br
							| Do you really want to be pampered? Then you go to one of the luxury VIP cottages. On arrival, the beds are made up, and you have a private sauna and rain shower. 
							br
							br
						.extra.content
							.ui.list
								.item
									i.ticket.alternate.icon
									.content: .description Home cinema set with dvd-player
								.item
									i.tv.icon
									.content: .description Flatscreen-TV
								.item
									i.utensils.icon
									.content: .description Fitted Kitchen with Dishwasher
								.item
									i.shower.icon
									.content: .description Rain shower
							.ui.two.buttons
								a.ui.basic.teal.button(target="_blank" href="https://www.centerparcs.nl/nl-nl/nederland/fp_LH_vakantiepark-limburgse-peel/cottages?hc=LH702&duree=3&dated=2017-11-03&gotoanchor=item-confort") More Info
								.ui.basic.teal.button Book Now
			.ui.centered.fluid.relaxed.container
				iframe(frameborder="0" height="525" width="100%" scrolling="auto" marginheight="0" marginwidth="0" allowtransparency="true" name="paymentMenu" src="https://frontoffice.paylogic.nl/?event_id=133581&point_of_sale_id=14821")
