include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Viencon'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		//- link(rel="stylesheet", href="https://unpkg.com/purecss@1.0.0/build/pure-min.css", integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w", crossorigin="anonymous")
		link(rel="stylesheet", type="text/css", href="/styles/semantic/dist/semantic.min.css")
		link(href="/styles/site.css", rel="stylesheet")
		link(rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16")
		link(href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel="stylesheet")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css", rel="stylesheet")

		script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
		script(src="/styles/semantic/dist/semantic.min.js")
		

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body

		//- HEADER	
		#header
			//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
			//- ... or completely change this header to suit your design.
			.top
				nav.ui.fixed.menu.inverted.desktopMenu
					.ui.container
						each link, index in navLinks
							if (index < navLinks.length-1)
								a.item(href=link.href class=link.label)= link.label
							else
								a.right.item(href=link.href class=link.label)= link.label

				nav.ui.fixed.inverted.menu.mobileMenu
					.right.item.ui.teal.dropdown.mobileMenu Viencon &nbsp
						i.bars.icon
						.fluid.left.menu
							each link, index in navLinks
								a.item(href=link.href class=link.label)
									=link.label
			if banner
				.Banner
					img(src=banner alt='Banner image' width='100%' height='auto')

		#body
			block intro
			block content

		.ui.three.column.stackable.centered.grid#footer
			.column: img(src="/images/vienconLogo.png")
			.column#text 
				span © 2017 ~ 2019 VIENCON • All rights reserved.
				br
				span Viencon and the Viencon logo are Registered Trademarks of Viencon Summer Festival Convention.
			.column#social
				a(href="https://www.facebook.com/VienconEU/"): .ui.circular.icon.massive.inverted.button: i.facebook.f.icon
				a(href="https://twitter.com/OfficialViencon"): .ui.circular.icon.massive.inverted.button: i.twitter.icon
				a(href="https://www.instagram.com/viencon"): .ui.circular.icon.massive.inverted.button: i.instagram.icon

	


			script.
				section = "#{section}";-
				if (section) {
					$('nav .' + section.substr(0,1).toUpperCase()+section.substr(1)).addClass('active')
				}
			script.
				$('.ui.dropdown')
					.dropdown()
				;
			script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
			script.
				$(document).ready(function(){
					$('.EventSlider').slick({
						slidesToShow: 1,
						dots: true,
						autoplay: true,
						autoplaySpeed: 5000,
					});
				});
				$(document).ready(function(){
					$('.GuestSlider').slick({
						slidesToShow: 1,
						dots: true,
						autoplay: true,
						autoplaySpeed: 5333,
					});
				});