body 
    overflow-y scroll
#footer
    margin-top 30px
    border-top 1px solid gray-lighter
    padding-top 30px
    color gray


.gallery-image img
    display block
    max-width 100%
    height auto

.top //menu bar
    display flex
    position fixed
    width 100%
    justify-content center
    z-index 10
    nav.ui.menu
        .item
            font-size 1em

.Banner
    // width 100%
    // height auto//unused, corresponding css now in html
    margin 40px auto 0 auto
    background-color #029390

.announcementContainer
    display block
    min-height 20px
    width 100%
    background-color orange
    padding 1vh 1vw
    text-align center    
    .announcement
        // background-color red
        font-weight bold
        font-size 1em
        text-align center

.intro
    background-color #EDE6D4
    padding 2vh 0
    
h2 
    font-size 1.3rem
h3 
    font-size 1.1rem
p
    font-size 1rem
h2, h3
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif
    color #029390
    font-weight bold
hr
    border-color #029390

.MainContent
    margin 2vh auto 0 auto
    max-width 1440px
    // height 680px
    // padding 2em

.NewsFeed, .EventSlider, .GuestSlider
    line-height 2em
    max-height 707px
    height fit-content
    text-overflow ellipsis
    overflow-x hidden
    margin 0

.NewsFeed
    padding 0 1.5vw

.EventSlider .slick-list, .GuestSlider .slick-list
    border 2px solid teal
    border-radius 8px

.slick-prev, .slick-next
    z-index 10
.slick-prev
    left 30px !important 
.slick-next
    right 30px !important 
.slick-dots
    position relative !important
    bottom: 0 !important
    z-index 10


.NewsFeed
    border 2px solid teal
    border-radius 8px
    overflow-y scroll
    .ui.feed
        .event
            .label
                display flex
                align-items center
                height auto
                width 70px
            .content 
                .date
                    font-size 0.8em

.postDate
    color grey 
    font-weight normal
    padding 0
    margin 0
    line-height 1em
.postContainer
    margin-top 1vh

// .ui.container
//     overflow hidden
//     text-overflow ellipsis

.BlogHeader
    span
        text-transform capitalize
    .Categories
        a.item
            color inherit
            font-size 2em
            text-transform capitalize
    .active.item
        text-decoration underline
        font-weight bold

.pagination
    display flex
    width 100%
    margin 0 auto
    justify-content center
    li
        margin 1vh 1vw
    li.disabled
        color #dedede

.cottage
    .title.content
        max-height 3em
        line-height 2em
    .main.content
        height 10em
        line-height 2em
    .content
        .list
            column-count 2

.desktopMenu
    @media screen and (max-width: 600px)
        visibility hidden
.mobileMenu
    @media screen and (min-width: 600px)
        visibility hidden

.capitalize
    text-transform: capitalize;

#footer
    background-color #7FC7BA
    bottom 0
    height fit-content
    padding 0
    margin 2vh 0 0 0
    .column
        text-align center
        vertical-align middle
        align-self  center
        color white
        font-size 1em
    #social
        .ui.icon.massive.inverted.button
            margin 0 12px
            color #7FC7BA !important
            border-color #7FC7BA !important
            background white !important