html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
border 0 {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquotebefore,
blockquoteafter,
qbefore,
qafter {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  overflow-y: scroll;
}
#footer {
  margin-top: 30px;
  border-top: 1px solid gray-lighter;
  padding-top: 30px;
  color: #808080;
}
.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
.top {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  z-index: 10;
}
.top nav.ui.menu .item {
  font-size: 1em;
}
.Banner {
  margin: 40px auto 0 auto;
  background-color: #029390;
}
.announcementContainer {
  display: block;
  min-height: 20px;
  width: 100%;
  background-color: #ffa500;
  padding: 1vh 1vw;
  text-align: center;
}
.announcementContainer .announcement {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
.intro {
  background-color: #ede6d4;
  padding: 2vh 0;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.1rem;
}
p {
  font-size: 1rem;
}
h2,
h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #029390;
  font-weight: bold;
}
hr {
  border-color: #029390;
}
.MainContent {
  margin: 2vh auto 0 auto;
  max-width: 1440px;
}
.NewsFeed,
.EventSlider,
.GuestSlider {
  line-height: 2em;
  max-height: 707px;
  height: fit-content;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin: 0;
}
.NewsFeed {
  padding: 0 1.5vw;
}
.EventSlider .slick-list,
.GuestSlider .slick-list {
  border: 2px solid #008080;
  border-radius: 8px;
}
.slick-prev,
.slick-next {
  z-index: 10;
}
.slick-prev {
  left: 30px !important;
}
.slick-next {
  right: 30px !important;
}
.slick-dots {
  position: relative !important;
  bottom: 0 !important;
  z-index: 10;
}
.NewsFeed {
  border: 2px solid #008080;
  border-radius: 8px;
  overflow-y: scroll;
}
.NewsFeed .ui.feed .event .label {
  display: flex;
  align-items: center;
  height: auto;
  width: 70px;
}
.NewsFeed .ui.feed .event .content .date {
  font-size: 0.8em;
}
.postDate {
  color: #808080;
  font-weight: normal;
  padding: 0;
  margin: 0;
  line-height: 1em;
}
.postContainer {
  margin-top: 1vh;
}
.BlogHeader span {
  text-transform: capitalize;
}
.BlogHeader .Categories a.item {
  color: inherit;
  font-size: 2em;
  text-transform: capitalize;
}
.BlogHeader .active.item {
  text-decoration: underline;
  font-weight: bold;
}
.pagination {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.pagination li {
  margin: 1vh 1vw;
}
.pagination li.disabled {
  color: #dedede;
}
.cottage .title.content {
  max-height: 3em;
  line-height: 2em;
}
.cottage .main.content {
  height: 10em;
  line-height: 2em;
}
.cottage .content .list {
  column-count: 2;
}
@media screen and (max-width: 600px) {
  .desktopMenu {
    visibility: hidden;
  }
}
@media screen and (min-width: 600px) {
  .mobileMenu {
    visibility: hidden;
  }
}
.capitalize {
  text-transform: capitalize;
}
#footer {
  background-color: #7fc7ba;
  bottom: 0;
  height: fit-content;
  padding: 0;
  margin: 2vh 0 0 0;
}
#footer .column {
  text-align: center;
  vertical-align: middle;
  align-self: center;
  color: #fff;
  font-size: 1em;
}
#footer #social .ui.icon.massive.inverted.button {
  margin: 0 12px;
  color: #7fc7ba !important;
  border-color: #7fc7ba !important;
  background: #fff !important;
}
.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}
.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.1);
  text-shadow: 0 0.25em 0.5em rgba(0,0,0,0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: #fff;
}
.glide__arrow--left {
  left: 2em;
}
.glide__arrow--right {
  right: 2em;
}
.glide__arrow--disabled {
  opacity: 0.33;
}
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}
.glide__bullet {
  background-color: rgba(255,255,255,0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.1);
  margin: 0 0.25em;
}
.glide__bullet:focus {
  outline: none;
}
.glide__bullet:hover,
.glide__bullet:focus {
  border: 2px solid #fff;
  background-color: rgba(255,255,255,0.5);
}
.glide__bullet--active {
  background-color: #fff;
}
.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
